@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@font-face {
      font-family: IndustryInc-InlineStroke;
      src: url('IndustryInc-InlineStroke/IndustryInc-InlineStroke.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: IndustryInc-Stencil;
      src: url('IndustryInc-Stencil/IndustryInc-Stencil.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
}

html, body{
    background: #222222;
    font-family: 'IndustryInc-InlineStroke';
    font-weight: bold;
}

.title{
    font-family: 'IndustryInc-Stencil' !important;
}

.button-shadow{
    transition: all 0.5s ease-out;
    z-index: 2;
}

.button-orange{
    transition: all 0.3s ease-out;
    background: linear-gradient(#c88405, #af4105);
    color: white;
    padding: 15px 25px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    text-transform: uppercase;
    font-size: 0.8em;
    border: none;
    font-weight: bold;
}

.button-orange:hover{
    transition: all 0.3s ease;
    box-shadow: -4px 4px 5px -3px rgba(0,0,0,0.58);
    -webkit-box-shadow: -4px 4px 5px -3px rgba(0,0,0,0.58);
    -moz-box-shadow: -4px 4px 5px -3px rgba(0,0,0,0.58);
}

.button-solid{
    background: linear-gradient(76.91deg, #706d71 -125.56%, #00abdf 116.11%);
    color: white;
    border: none;
}

.button-shadow:hover{
    transition: all 0.5s ease;
    box-shadow: -3px 3px #706d71, 3px -3px #ef7b06;
}

.shadow-1{
    box-shadow: 3px 3px white, -3px -3px #ef7b06;
}

.shadow-2{
    box-shadow: -3px -3px white, 3px 3px #84bc2d;
}

.div-row{
	display: flex; 
	-webkit-box-align: 
	center; align-items: center;
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.w-40{
    width: 40% !important;
}

.bg-706d71{
    background-color: #706d71;
}

.bg-252525{
    background-color: #252525;
}

.bg-default{
    background: url('https://www.illuvium.io/images/backgrounds/1440x900.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a.normallink {
    color: blue;
    text-decoration: none;
}

a.normallink:hover{
    text-decoration: underline;   
}

/* Overwrite */
button{
    border-radius: 0 !important;
}

input{
    border-radius: 0 !important;
}

.modal-content{
    border-radius: 0 !important;
}